# Análise de Dados: Olimpíadas

## Um estudo sobre o Jogos Olímpicos em suas 35 edições

### Para este estudo serão usados os microdados disponíveis em
https://basedosdados.org/dataset/mundo-kaggle-olimpiadas

Neste repositório farei a mesma análise usando comandos SQL,quando aplicável; python e Excel, já que o número de linhas é limitado.

Os comandos SQL serão espelhados neste próprio caderno abaixo do código python ficando a cargo do leitor reproduzi-los no Google cloud.

Os dados dessa base estão em uma única tabela com 269718 linhas, apresentados desta forma:

In [5]:
import pandas as pd                    #importando a biblioteca com o nome de pd
df = pd.read_csv("olimpiadas.csv")     #importando o arquivo csv como um Dataframe, formato da própria bilbioteca
                                       # usei csv porque é como os dados estão mas poderia ter usado separado por tabulação, o que precisaria de um delimitador
                                       # seria df = pd.read_csv("pokemon_data.txt", delimiter = "\t") sendo "\t" o delimitador
df.head()

,ano,edicao,cidade_sede,pais,delegacao,equipe,id_atleta,nome_atleta,sexo,idade,altura,peso,esporte,evento,medalha
0,1896,Summer,Athina,Australia,AUS,Australia,35698,"Edwin Harold ""Teddy"" Flack",M,22.0,NaN,NaN,Athletics,"Athletics Men's 1,500 metres",Gold
1,1896,Summer,Athina,Australia,AUS,Australia,35698,"Edwin Harold ""Teddy"" Flack",M,22.0,NaN,NaN,Athletics,Athletics Men's 800 metres,Gold
2,1896,Summer,Athina,Australia,AUS,Australia,35698,"Edwin Harold ""Teddy"" Flack",M,22.0,NaN,NaN,Athletics,Athletics Men's Marathon,NaN
3,1896,Summer,Athina,Australia,AUS,Australia/Great Britain,35698,"Edwin Harold ""Teddy"" Flack",M,22.0,NaN,NaN,Tennis,Tennis Men's Doubles,Bronze
4,1896,Summer,Athina,Australia,AUS,Australia,35698,"Edwin Harold ""Teddy"" Flack",M,22.0,NaN,NaN,Tennis,Tennis Men's Singles,NaN

## Para este estudo faremos as seguintes perguntas à nossa base de dados:

### 10 Perguntas Básicas (Resultam e apenas um número ou dois):

1 -Quantas edições aconteceram?

2 -Quantos atletas participaram em todas as edições?

3 -Qual o número de homens e mulheres de todas as edições?

4 -Quantas medalhas foram adquiridas?

5 -Quantos esportes já fizeram parte?

7 -Quantas medalhas de cada tipo foram distribuídas?

8 -Quantos Países já sediaram os jogos?

9 -Qual a média de peso dos atletas masculinos e femininos?

10-Qual a média de Idade dos atletas masculinos e femininos?

###### 1 -Quantas edições aconteceram?

In [23]:
edicoes = len(df['ano'].unique())
print(" 1 -Quantas edições aconteceram? \n", edicoes, "edições.\n")

print(r" COMANDO SQL: SELECT DISTINCT COUNT(distinct ano) AS Edicoes FROM `basedosdados.mundo_kaggle_olimpiadas.microdados`")

 1 -Quantas edições aconteceram?
 35 edições.

 COMANDO SQL: SELECT DISTINCT COUNT(distinct ano) AS Edicoes FROM `basedosdados.mundo_kaggle_olimpiadas.microdados`

2 -Quantos atletas participaram em todas as edições?